
html {
  font-size: 18px;
  line-height: 1.4;
  font-family: helvetica;
}

div {
  border: 0px solid red;
}

.container {
  width: 960px;
}

/* Header content */

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 31rem;
  width: 100%;
  background: url('../../images/glasses-bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  height: 3rem;
  margin-top: 1rem;
  color: white;
}

.headerleft {
  display: flex;
  align-items: center;
}

.header img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

#menu1 {
  display: none;
}

ul {
  display: inline-flex;
}

li {
  margin: 1rem 2rem 1rem 0;
}

.mottobox {
  margin-top: 10rem;
  margin-left: 22rem;
  background-color: white;
  padding: 1.5rem 5rem 1.5rem 5rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

/* Upper Body content */

.ubody {
  display: flex;
  justify-content: center;
  width: 100%;
}

.ubody .container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.leftbox, .centerbox, .rightbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  width: 5rem;
}

.centerbox {
  margin-left: 6rem;
  margin-right: 6rem;
}

.leftbox img {
  width: 3.5rem;
}

.centerbox, .rightbox, img {
  width: 4rem;
}

/* Lower Body content */

.lbody {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.lbody .container {
  display: flex;
  justify-content: center;
}

.textbox {
  width: 35%;
  margin-left: 5%;
}

.titlebox #cadetblue {
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  width: 10rem;
  padding: 0.5rem 0 0.5rem 1.25rem;
  margin-bottom: 1rem;
}

.titlebox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.titlebox p {
  color: black;
}

/* Footer content */

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer .container {
  display: flex;
  align-items: center;
  background-color: azure;
}

.footer img {
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}

/* Extended Display Settings */

@media only screen and (max-width: 1024px) {

  .header .container {
    margin-top: 0rem;
  }

  .header {
    height: 17rem;
    width: 100%;
    background-position: 40%;
    background-size: cover;
  }

  .mottobox {
    margin-top: 5rem;
    margin-left: 18rem;
    padding: 0.75rem 4rem 0.75rem 4rem;
    font-size: 1.33rem;
  }

}

@media only screen and (max-width: 470px) {

  .container {
    width: 470px;
  }

  .header .container {
    width: 100%;
  }

  .header .container p {
    display: none;
  }

  #menu1 {
    display: inline;
  }

  #menu3 {
    display: none;
  }

  .header {
    height: 17rem;
    width: 100%;
    background-position: 20%;
    background-size: cover;
  }

  .mottobox {
    display: flex;
    margin-top: 9rem;
    margin-left: 0rem;
    width: 100%;
    padding: 0;
    justify-content: center;
  }

  .mottobox p {
    font-size: 1rem;
    padding: 1rem 0 1rem 0;
  }

  .ubody p {
    font-size: 0.77rem;
  }


  .ubody .container {
    margin-top: 3.77rem;
    flex-direction: column;
    width: auto;
    align-items: center;
  }

  .leftbox, .centerbox, .rightbox {
    justify-content: center;
    align-items: center;
    height: auto;
    width: 5rem;
  }

  .leftbox img {
    margin-bottom: 1rem;
  }

  .centerbox img {
    margin: 1.54rem 0 1rem 0;
  }

  .rightbox img {
    margin: 1.54rem 0 1rem 0;
  }

  .lbody {
    margin-top: 3.77rem;
    width: 100%;
    margin-bottom: 2rem;
  }

  .lbody .container {
    flex-direction: column;
  }

  .textbox {
    width: 22rem;
  }

  .titlebox {
    width: 22rem;
    margin-bottom: 4rem;
  }

  .titlebox p {
    font-size: 0.77rem;
  }

  .footer {
    align-items: center;

  }

  .footer p {
    display: none;
  }

  .footer img {
    padding: 4rem 0rem 4rem 0rem;
    margin: 0 auto;
  }

}
